{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - {{ title }}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header class="header">
        <h1 class="header-heading">
            <a href="{% url "home" %}" class="header-link">
                Agenda
            </a>
        </h1>

        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="{% url "create" %}" class="menu-link">
                        Cadastrar-se
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        login
                    </a>
                </li>
            </ul>
        </nav>

        <div class="search">
            <form action="{% url "search" %}" method="GET">
                <input
                 type="search"
                 class="search-input"
                  placeholder="search"
                   id="search" 
                   value="{{ request.GET.strip }}"
                   name="q">
            </form>
        </div>
    </header>

   <main class="content">
    {% block content %} {% endblock content %}

    {% if page_obj %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&q={{ request.GET.q.strip }}">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q.strip }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q.strip }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q.strip }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
   </main>
</body>
</html>